<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--enabling aspectj autoproxy-->
    <aop:aspectj-autoproxy/>

    <bean id="question1" class="com.springAOPandEvents.events.Question1"/>
    <bean class="com.springAOPandEvents.events.listener.MyEventListener"/>
    <bean class="com.springAOPandEvents.events.entity.Database" id="database">
        <property name="name" value="localhost"/>
        <property name="port" value="3306"/>
    </bean>
    <bean class="com.springAOPandEvents.events.listener.CustomEventListener"/>

    <bean class="com.springAOPandEvents.springAOP.LoggingAspect"/>

</beans>