<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.springboot.assignment.Question3.User" id="user">
        <property name="username" value="adlakhamehak98"/>
        <property name="password" value="12345@ttn"/>
    </bean>

</beans>