<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercise 10</title>
</head>
<body>
<header th:replace="fragment :: headerFragment"></header>
<form method="post" id="register" th:object="${employee}">
    <input th:field="*{name}" type="text" placeholder="Enter Name" required/>
    <input th:field="*{id}" type="number" placeholder="Enter ID" required/>
    <input th:field="*{contactNumber}" type="text" placeholder="Enter contact number" required/>
    <input type="submit" th:value="submit"/>
</form>
<img th:src="@{/loader.gif}" id="loader"/>
<div id="data"></div>
<footer th:replace="fragment :: footerFragment"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script th:src="@{/q10.js}"></script>
</body>
</html>